MONGODB_URI=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXTAUTH_SECRET="$0M3_R4ND0M_$3CR37"

# Email Server Settings
EMAIL_SERVER_HOST=smtp.gmail.com
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USER=""
EMAIL_SERVER_PASSWORD=""
EMAIL_SERVER_SECURE=false

# Note: For Gmail, you'll need to use an App Password if you have 2FA enabled. [Generate an App Password](https://myaccount.google.com/apppasswords)