@import 'tailwindcss';
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #030610;
  --color-foreground: hsl(0 0% 100%);
  --color-primary: #00e5ff;
}

@layer base {
  body {
    background-color: #030610;
    color: #ffffff;
    background-image: 
      linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 50px 50px;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}

